.restaurant__productList {
    width: 972px;
    margin: auto;
    padding: 0;
}

.restaurant__chooseTitle {
    padding-top: 100px;
    margin-top: -100px;
    display: block;
    font-size: 22px;
}

.restaurant__chooseBlock {
    text-align: left;
}

.restaurant__CardWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}