:root {
  $bg-button: #dddddd;
  $white: #ffffff;
  $border-grey: #E0E0E0;
  $black-btn: black;
  $grey: #d3d3d3;
  $text: #1D1D1D;
  $text2: #626262;
  $text3: #1D1D1D;
  $ftr: #262626;
  $card_background: #757575;

  $font-roboto: Roboto, sans-serif;
}
