@import "_color.css";

.header {
  width: 100%;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
}

.logo {
  padding-top: 15px;
}

.header_order_time {
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
  width: 65px;
  height: 45px;
}

.header_order__span {
  padding: 15px;
}

.header_order__label {
  position: relative;
}

.header_order__input {
  width: 292px;
  height: 45px;
  border: 1px solid var(--border-grey);
  border-radius: 2px;
  padding-left: 35px;
}

.cabinet_wrapper_button__wrapper {
  height: 45px;
  display: flex;
  align-items: center;
}

.cabinet_button__signin {
  width: 80px;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
}

.cabinet_button__black {
  width: 80px;
  height: 40px;
  background-color: var(--black-btn);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
  margin: 0 16px 0 27px;
  color: white;
}

.header_order__label:before {
  position: absolute;
  content: url("location.svg");
  top: 2px;
  left: 11px;
}