.restaurant__productCard {
    display: flex;
    height: 161px;
    width: 470px;
    padding-right: 16px;
    margin-bottom: 50px;
}

.restaurant__cardInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 300px;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    height: 123px;
    padding: 18px 10px;
}

.restaurant__cardName {
    font-family: var(--font-roboto);
    font-size: 16px;
}

.restaurant__cardPprice {
    font-family: var(--font-roboto);
    color: var(--text);
    font-size: 15px;
}
.restaurant__description {
    font-size: 13px;
    line-height: 21px;
    height: 80px;
    padding-right: 10px;
}

.restaurant__img {
    width: 160px;
    height: 160px;
}