.search {
    border: none;
    border-bottom: 2px solid var(--grey);
    margin-bottom: 15px;
    width: 100%;
    padding-top: 10px;
    height: 55px;
    padding-left: 35px;
}

.search_wrapper {
    margin-top: 55px;
}

.search_label {
    width: 100%;
    position: relative;
}