@import "_color.css";

.header {
  width: 100%;
  box-shadow: 0 0 16px rgba(38,38,38,.16);
  padding: 10px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;

}

.header__link {
  padding-top: 15px;
}

.header__span {
  padding: 15px;
}

.header__label {
  position: relative;
}

.header__label:before {
  position: absolute;
  content: url("image/location.svg");
  top: 2px;
  left: 11px;
}

.header__logo {
  padding-top: 15px;
}

.header__time {
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
  width: 65px;
  height: 45px;
}

.header__input {
  width: 292px;
  height: 45px;
  border: 1px solid var(--border-grey);
  border-radius: 2px;
  padding-left: 35px;
  font-size: 16px;
}

.header__wrapper__button {
  height: 45px;
  display: flex;
  align-items: center;
}

.header__signin {
  width: 80px;
  height: 40px;
  background-color: var(--white);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
}

.header__black {
  width: 80px;
  height: 40px;
  background-color: var(--black-btn);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
  margin: 0 16px 0 27px;
  color: white;
}

