.search__input {
    border: none;
    border-bottom: 2px solid var(--grey);
    margin-bottom: 15px;
    width: 100%;
    padding-top: 10px;
    height: 55px;
    padding-left: 35px;
    font-size: 16px;
}

.search {
    margin-top: 8px;
}

.search__label {
    width: 100%;
    position: relative;
}

.search__label:before {
    content: url("Shapesearch.svg");
    position: absolute;
    top: 0px;
}